body,html,input,a,img,ul,li,ol,dl,dt,dd,form,p,h1,h2,h3,h4,h5,h6{
	padding: 0;margin: 0;
}
body,html{
	height: 100%;
	font-family: '微软雅黑';
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333;
}
i{
	font-style: normal;
}
h2,h3,h4,h5,h6,b{
	font-weight: normal;
}
li{
	list-style: none;
}
.clearfix::after{
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	height: 0;
}
.banxin{
	width: 90%;
	margin: auto;
}
